@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: "Poppins";
    background-color: rgb(34, 34, 34);
    color: white;
    max-width: 1200px;
    margin: auto;  /* Deixa o BODY sempre no CENTRO quando diminuirem o tamanho da tela no GOOGLE*/
    padding: 40px;
    display: flex;
    flex-direction: column;
}

#estrutura {
    background-color:rgb(53, 53, 53);
    width: 400px;
    height: 450px;
    margin: 0 auto;
    margin-top: 120px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#estrutura p {
    font-size: 15px;
}

#titulo {
    margin-top: 80px;
    color: white;
}

#formulario {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.input-text {
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    font-family: "Poppins";
}

#botao {
    border: none;
    background-color:  rgb(132, 14,201);
    color: white;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins";
}

#botao:hover {
    background-color: white;
    color: rgb(132, 14,201);
    transition: 0.3s;
}