@media (max-width: 500px) {
    #cabecalho{
        display: flex;
        flex-direction: column;
    }

    #cabecalho #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #conteudo{
        display: flex;
        flex-direction: column;
    }

    #conteudo .titulo_conteudo {
        font-size: 18px;
        align-items: center;
        margin-bottom: 25px;
    }

    #conteudo #descricao {
        font-size: 15px;
        margin-bottom: 25px;
    }
}

@media (max-width: 700px) {
    #cabecalho {
        display: flex;
        flex-direction: column;
    }

    #cabecalho #menu {
        align-items: center;
    }
}

@media (max-width: 1024px) {
    #conteudo .titulo_conteudo{
        font-size: 20px;
    }
}

@media (max-width: 390px) {
    #conteudo .titulo_conteudo{
        font-size: 19px;
    }
}